.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: #31314e;
}
.footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: #31314e;
  margin-top: 48px;
}
.weather .weather-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 800px;
  margin: 0 auto;
  padding-top: 40px;
}
.weather .weather-wrapper .weather-date-tabs {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding: 0;
  margin: 0;
  margin-top: 40px;
}
.weather .weather-wrapper .weather-date-tabs .weather-date-tabs__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  cursor: pointer;
  border: 1px solid #cccccc;
  border-radius: 8px;
  padding: 8px;
}
.weather .weather-wrapper .weather-date-tabs .weather-date-tabs__item .weather-date-tabs__item-date {
  font-size: 14px;
  margin: 0;
  font-style: italic;
}
.weather .weather-wrapper .weather-date-tabs .weather-date-tabs__item .weather-date-tabs__item-date:nth-child(2) {
  font-size: 30px;
  font-weight: 500;
  font-style: initial;
}
.weather .weather-wrapper .weather-date-tabs .weather-date-tabs__item .weather-date-tabs__item-icon {
  width: 45px;
  height: 45px;
}
.weather .weather-wrapper .weather-date-tabs .weather-date-tabs__item .weather-date-tabs__item-details {
  display: flex;
  justify-content: space-around;
  min-width: 100px;
}
.weather .weather-wrapper .weather-date-tabs .weather-date-tabs__item .weather-date-tabs__item-details .weather-date-tabs__item-details-temp {
  display: flex;
  flex-direction: column;
}
.weather .weather-wrapper .weather-date-tabs .weather-date-tabs__item .weather-date-tabs__item-details .weather-date-tabs__item-details-temp .weather-date-tabs__item-details-temp-label {
  font-size: 12px;
  margin: 0;
  font-style: italic;
}
.weather .weather-wrapper .weather-date-tabs .weather-date-tabs__item.active {
  position: relative;
  bottom: -1px;
  border-bottom: 0;
  background: #31314e;
  border-radius: 8px 8px 0 0;
  padding-bottom: 16px;
}
.weather .weather-wrapper .weather-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #31314e;
}
.weather .weather-wrapper .weather-list .weather-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 300px;
  border: 1px solid #cccccc;
  border-radius: 0 0 8px 8px;
  box-sizing: border-box;
}
.weather .weather-wrapper .weather-list .weather-list-item .weather-list-item__details-item-date {
  font-size: 14px;
  margin: 0;
  font-style: italic;
}
.weather .weather-wrapper .weather-list .weather-list-item .weather-list-item__details {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  padding: 0;
  margin: 0;
}
.weather .weather-wrapper .weather-list .weather-list-item .weather-list-item__details .weather-list-item__details-item {
  list-style: none;
  min-width: 90px;
}
.weather .weather-wrapper .weather-list .weather-list-item .weather-list-item__details .weather-list-item__details-item img {
  width: 45px;
  height: 45px;
}
.weather .weather-wrapper .weather-list .weather-list-item .weather-list-item__details .weather-list-item__details-item .weather-list-item__details-item-wind {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.weather .weather-wrapper .weather-list .weather-list-item .weather-list-item__details .weather-list-item__details-item .weather-list-item__details-item-wind p {
  margin: 0;
}
.weather-form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
}
.weather-form input[type='text'] {
  padding: 8px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  margin-right: 8px;
  width: 200px;
  outline: none;
  background: #545482;
  color: #ffffff;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
}
.weather-form input[type='text']::placeholder {
  color: #cccccc;
}
.weather-form button {
  background-color: #31314e;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
}
.weather-form button:hover {
  background-color: #545482;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #242424;
  color: #ffffff;
  text-align: center;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
.weather-container {
  padding-top: 80px;
  min-height: calc(100vh - 160px);
  max-width: 2400px;
  margin: auto;
}
